<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit ></app-shopping-edit>
    <hr>
    <ul class="list-group p-1" >
      <li #Element (click)="GetRemoveData(ingredient , Element)"
      [IngredientData]="ingredient"
      class="list-group-item m-1 border border-1 border-danger p-2"
      *ngFor="let ingredient of IngredientList; let i = index">
        <a class="beautiful-link" href="#"
              style="cursor: pointer"
        >{{ingredient.name}} - {{ingredient.amount}}kg</a></li>
    </ul>
  </div>
</div>
