<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit ></app-shopping-edit>
    <hr>
    <ul class="list-group p-1" #ItemList>
      <ng-container *ngFor="let ingredient of IngredientList; let i = index">
        <li #Element (click)="GetRemoveData(i)"
      [IngredientData]="ingredient"
        [ngClass]="{'focus': ingredient.onFocus}"
      class="list-group-item m-1 border border-1 border-danger p-2">
        <a class="beautiful-link" href="#"
              style="cursor: pointer"
        >{{ingredient.name}} - {{ingredient.amount}}kg</a></li>
      </ng-container>
    </ul>
  </div>
</div>
