.alert-modal{
  display: hidden;
  position: fixed;
  z-index: 100;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: rgb(124, 117, 117);
  background-color: rgb(124, 117, 117,0.4);
}
.alert-content{
  position: relative;
  top: 10em;
  margin: auto;
  max-width: 50%;
  padding: 4em;
  background-color: #FFFF;
  color: #000;
  border: 1px solid rgb(69, 10, 231);
  box-shadow: -3px 3px rgb(69, 10, 231), -1px 1px rgb(69, 10, 231), -3px 3px rgb(69, 10, 231);
}


.close{
  position: absolute;
  margin: .5em;
  z-index: 100;
  top: 0;
  right: 0;
  padding: .75em;
  background-color: #FFFF;
  color: #000;
  border: none;
  transition: all 300ms ease-in-out;
}

.close:hover{
  border: 5px solid orange;
  background-color: orange;
  box-shadow: -3px 3px rgb(238, 104, 14), -1px 1px rgb(238, 104, 14), -3px 3px rgb(238, 104, 14);
  transform: scale(0 100%);
}

