<div class="container">
  <div class="row">
    <div class="col-xs-12 p-1">
      <img src="" class="img-fluid " alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 p-1">
      <h1 class="text-warning">Example heading</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 p-1">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Mangage Recipe
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">To Shopping List</a>
          <a class="dropdown-item" href="#">Edit Recipe</a>
          <a class="dropdown-item" href="#">Remove Recipe</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="RecipeDetail.name!='default'">
    <div class="col-xs-12 p-1">
      {{RecipeDetail.name}}
    </div>
    <div class="col-xs-12 p-1">
      {{RecipeDetail.description}}
    </div>
    <div class="col-xs-12 p-1">
      <img [src]="RecipeDetail.imagePath" width="300px" height="100%"  alt="">
    </div>
    <div class="col-xs-12 p-1">
      Ingredients
    </div>
  </div>
</div>
